.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #e2001a !important;
}

.nav-link {
    color: #043882;
}

.navbar-dark {
    background-color: #043882;
}

.bg-menu {
    background-color: #68B022 ;
}

.btn-secondary {
    background-color: #f49c00;
    border-color: #f49c00;
}

.small-inline-image {
    height: 24px;
    margin-right: 10px;
}